@font-face {
    font-family: 'MainFont';
    /*src: url( '/assets/fonts/MainFont.ttf') format('truetype');
    src: url("{{ '/assets/fonts/MainFont.ttf' | prefixedUrl }}") format('truetype');*/
    font-weight: normal;
    font-style: normal;
  }
  
  /* Base layout */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace, sans-serif;
  }
  
  /* HEADER LAYOUT */
  .header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
  }
  
  /* LOGO */

  .logo {
    width: 200px;
    height: auto;
    margin: 10px;
  }

  .logo2 {
    width: 100px;
    height: auto;
    margin: 0;
  }
  
  /* NAVIGATION */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 30px;
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-family: 'MainFont', 'Courier New', Courier, monospace;
  }
  
  nav a {
    text-decoration: none;
    color: #8abab0;
  }
  
  nav a:hover {
    color: #b2ede1;
  }
  
  /* MAIN CONTENT */
  main {
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    font-family: 'MainFont', 'Courier New', Courier, monospace;
  }
  
  .posts-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    max-width: 800px;
    width: 100%;
  }
  
  .posts-list li {
    margin: 10px 0;
    list-style: none;  
    padding: 0;       
    text-align: left; 
    margin-left: 25%; 
  }
  
  .posts-list a {
    text-decoration: none;
    color: #8abab0;
  }
  
  .posts-list a:hover {
    color: #b2ede1;
  }
  
  /* ARTICLE / POST STYLES */
  .h1post {
    margin: 20px 0px;
    text-align: center;
    font-family: 'MainFont', 'Courier New', Courier, monospace;
  }
  
  .h1main {
    font-family: 'MainFont', 'Courier New', Courier, monospace;
    margin-top: 0px;
  }
  
  /* FOOTER */
  footer {
    margin-top: 60px;
    font-family: 'MainFont', 'Courier New', Courier, monospace;
  }
  