 <!-- _includes/footer.njk -->
<footer>

  <style>
      @font-face {
    font-family: 'MainFont';
    src: url('/assets/fonts/Erika Ormig.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Define BodyFont for paragraph text */
  @font-face {
    font-family: 'BodyFont';
    src: url('/assets/fonts/NATIONFF.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
    </style>
    <link rel="stylesheet" href="{{ 'sugarforyourteaaa/styles/style.css' | prefixedUrl }}">

  <p>melisa li © 2025</p>
</footer>