 <!-- _includes/footer.njk -->
<footer>

  <style>
    @font-face {
    font-family: 'MainFont';
    src: url("{{ '/assets/fonts/MainFont.ttf' | prefixedUrl }}") format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    </style>

  <p>melisacollecting © 2025</p>
</footer>