<!DOCTYPE html>
<html lang="en">
  <!--- base.njk ---> 
<head>
    <meta charset="UTF-8">
   
    </style>

    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{'/styles/style.css' | prefixedUrl }}">
    
    </head>
   <body>
  {% include "nav.njk" %}

  
  <h1 class="h1main">{{ title }}</h1>
  <img src="{{ '/assets/images/sfyt_illust.png' | prefixedUrl }}" alt="sugarforyourtea" 
    width="400"
    height="auto"
    style="margin: 0px 10px; "
    >
  <main>{{ content | safe }}</main>
 
  



 {% include "footer.njk" %}

</body>

</html>